<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HRListView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11DA64F01EF0D61600C51CAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DA65091EF0D61700C51CAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11DA65141EF0D61700C51CAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
